body {
  margin: 0;
  padding: 0;
  height: auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  color: #333;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

li {
  list-style: none;
}

/* TEXT STYLES */

a {
  color:rgb(22, 22, 22) !important;
  text-decoration: none !important;
}

label {
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 700;
  color: rgb(77, 76, 76);
}

h3 {
  text-transform: uppercase;
  font-size: 15px !important;
  color: rgb(77, 76, 76);
}

/* INPUTS */

input {
  width: 300px !important;
  padding: 15px !important;
  text-transform: uppercase;
  font-size: 12px !important;
}

/* BUTTONS */ 

.btn {
  width: 300px !important;
  padding: 15px !important;
  text-transform: uppercase;
  font-size: 12px !important;
  font-weight: 700 !important;
}

.btn-black {
  background-color: #333 !important;
  border-color: #333 !important;
  color: #fff !important;
}

.btn-black:hover {
  background-color: rgb(22, 22, 22) !important;
  border-color: rgb(22, 22, 22) !important;
  color: #fff !important;
}

.btn-white {
  background-color: #fff !important;
  border-color: #fff !important;
  color: #333 !important;
}

.btn-white:hover {
  background-color: rgb(235, 232, 232) !important;
  border-color: rgb(235, 232, 232) !important;
}

/* NAVBAR */ 

.navbar {
  text-transform: uppercase;
}

.navbar .container-fluid {
  padding: 0 20px;
}

.navbar-icons span {
  font-size: 20px;
  margin-left: 30px;
  cursor: pointer;
 }


.subnav {
  display: none !important;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  border-top: 1px solid rgb(196, 196, 196);
  border-bottom: 1px solid rgb(196, 196, 196);
}

.subnav-grid {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  padding: 10px 0;
}
.subnav-grid li a{
  color: black;
  text-decoration: none;
}

.subnav-grid li a:hover {
  color: grey;
  }


/* HEADER */ 

.header {
  height: Calc(100vh - 60px);
  background-color: grey; 
  background-image: url('../images/disktrasa2.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
}

.header-content {
  width: 100%;
  text-align: center;
  position: relative;
  top: 30vh;
}

.header .title {
  color: #fff;
  margin-bottom: 40px;
  font-size: 50px;
}

/* HOW IT WORKS */

.how-it-works {
  min-height: 100vh;
}

.how-it-works-content {
  width: 100%;
  min-height: 100%;
  padding: 15vh 0;
  text-align: center;
  position: relative;
}

.how-it-works-steps {
  margin-top: 70px;
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.steps-title {
  font-weight: bold;
  margin-top: 20px;
}

.step {
  width: 300px;
  margin: 30px;
}

.circle {
  background-color: #333;
  width: 40px;
  height: 40px;
  padding: 8px;
  margin: auto;
  border-radius: 50px;
  color: #FFF;
  flex-shrink: 0;
  font-weight: bolder;
}


/* USER DROP DOWN, LOGIN/SIGNUP */ 

.user-dropdown {
  height: auto;
  padding: 20px;
  position: absolute;
  right: 20px;
  top: 80px;
  background-color: #fff;
  display: none;
  border-radius: 5px;
  z-index: 99999;
  box-shadow:0 0 0 10000px rgba(0,0,0,.30);
}

.user-dropdown.is-active {
  display: block;
}

.user-dropdown.is-active:after,
 .user-dropdown.is-active:before {
  content: '';
	position: absolute;
	top: 0;
	left: 83%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-bottom-color: #fff;
	border-top: 0;
	margin-left: -20px;
	margin-top: -20px;
  z-index:2;
}

.close-btn {
  position: absolute;
  right: 30px;
  top: 30px;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.close-btn::before,
.close-btn::after {
  content: '';
  position: absolute;
  width: 20px;
  left: 0;
  top: 10px;
  height: 2px;
  background: #333;
  border-radius: 5px;
}

.close-btn::before {
  transform: translateY(-7px);
  transform: rotate(-135deg);
}

.close-btn::after {
  transform: translateY(7.5px);
  transform: rotate(135deg);
}

.user-dropdown .title {
  text-align: center;
  font-weight: 700;
  margin-bottom: 20px;
}

.user-dropdown .form-text {
  text-align: center;
}

.user-dropdown .form-link {
  color: #333;
  cursor: pointer;
}

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: 400 !important;
}

.checkbox-container .text {
  position: relative;
  font-size: 12px;
  left: -5px;
  text-transform: none;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #fff;
  border: 1px solid #d3d3d3;
  border-radius: 2px;
}

.checkbox-container:hover input ~ .checkmark {
  background-color: #fff;
}

.checkbox-container input:checked ~ .checkmark {
  background-color: #fff;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-container .checkmark:after {
  left: 8px;
  top: -1px;
  width: 8px;
  height: 15px;
  border: solid rgb(0, 0, 0);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  justify-items: center;
}



/* MISSION */

.mission {
  height: 100vh;
}

.mission-content {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

.mission-left {
  width: 100vw;
  height: 70vh;
  background-color: #B4A391;
  text-align: left;
  padding: 14%;
}

.mission-right {
  width: 100vw;
  height: 30vh;
  background-color: #333;
  background-image: url('../images/disktrasa1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

@media only screen and (min-width: 780px) {

  .mission-left {
    width: 50vw;
    height: 100vh;
  } 

  .mission-right {
    width: 50vw;
    height: 100vh;
  }

}


.mission-title {
  font-size: 50px;
  font-weight: bold;
  color: #fff;
}

.mission-text {
  color: #fff;
}

/* ABOUT US */ 

.about-us {
  height: auto;
  padding: 15vh 0;
}

.about-us-content {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}

/* FOOTER */ 

.footer {
  height: auto;
  background-color: rgb(27, 27, 27);
  text-align: center;
  padding: 50px 0;
  color: #fff;
}

.footer h1 {
  text-transform: uppercase;
}

.footer-content{
  padding: 20px 0;
}

.footer-content .subtext{
  font-size: 11px;
}

.footer-icons span {
  margin: 5px;
  font-size: 30px;
}

.footer li {
  display: inline-block;
  margin: 10px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  border-bottom: 1px solid transparent;
  cursor: pointer;
}

.footer li:hover {
  border-bottom: 1px solid #fff;
}

.copyright {
  padding: 20px 0;
  text-align: center;
  font-size: 12px;
  color: grey;
}

.copyright-link {
  margin-left: 20px;
  cursor: pointer;
  border-bottom: 1px solid transparent;
}

.copyright-link:hover {
  border-bottom: 1px solid grey;
}


/* SHOPPING CART */ 

.shopping-cart {
  position: fixed;
  z-index: 9;
  background-color: #fff;
  -webkit-transition: width 0.3s, height 0.3s;
  transition: width 0.3s, height 0.3s;
  width: 0;
  height: 100vh;
  font-size: 1.5em;
  top: 0px;
  right: 0px;
  -webkit-transform-origin: 100% 0%;
  transform-origin: 100% 0%;
}

.shopping-cart.is-active{
  width: 380px;
  height: 100vh;
  -webkit-animation: anim-jelly 0.8s linear forwards;
  animation: anim-jelly 0.8s linear forwards;
  box-shadow:0 0 0 10000px rgba(0,0,0,.30);
  overflow: scroll;
}

.shopping-cart .close-btn {
  opacity: 0;
}

.shopping-cart.is-active .close-btn {
  opacity: 1;
  -webkit-transition: opacity 0.5s 0.5s;
  transition: opacity 0.5s 0.5s;
}

.shopping-cart-content {
  padding: 30px;
  opacity: 0;
}

.shopping-cart-content.is-active {
  opacity: 1;
  -webkit-transition: opacity 0.5s 0.5s;
  transition: opacity 0.5s 0.5s;
}

.shopping-cart-content .grid {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-bottom: 20px;
}

.shopping-cart-content h5 {
  font-size: 11px;
  text-transform: uppercase;
  color: rgb(44, 44, 44);
}

.shopping-cart-content h4 {
  font-size: 16px;
}

.shopping-cart-content .grid .right{
  text-align: right;
}

.order {
  border-top: 1px solid rgb(175, 175, 175);
  border-bottom: 1px solid rgb(175, 175, 175);
  padding: 100px 0;
  height: auto;
  text-align: center;
  margin: 50px 0;
}

.empty-bag-text {
  position: relative;
  font-size: 10px;
  color: grey;
}
